.title-container{
    width: 300px; 
    padding: 10px;
    font-family: Arial;
    color: white;
    background-color: #8f2626;
    border-radius: 50px;
    text-align: center;
    margin-left: 150px;
}

.fname-container{
    width: 300px; 
    padding: 10px;
    font-family: Arial;
    font-weight: bold;
    /* border: 1px solid #ccc; */
}

.lname-container{
    width: 300px; 
    padding: 10px;
    font-family: Arial;
    font-weight: bold;
}

.email-container{
    width: 300px; 
    padding: 10px;
    font-family: Arial;
    font-weight: bold;
}

.number-container{
    width: 300px; 
    padding: 10px;
    font-family: Arial;
    display: flex;
    font-weight: bold;
}

.delivery-container{
    width: 300px; 
    padding: 10px;
    font-family: Arial;
    font-weight: bold;
}

.size-head{
    font-weight: bold;
}

.size-container{
    width: 300px; 
    padding: 10px;
    font-family: Arial;
}

.flavor-head{
    font-weight: bold;
}

.flavor-container{
    width: 300px; 
    padding: 10px;
    font-family: Arial;
    font-weight: bold;
}

.credit-container{
    width: 300px; 
    padding: 10px;
    font-family: Arial;
    display: flex;
    font-weight: bold;
}

.pin-container{
    width: 300px; 
    padding: 10px;
    font-family: Arial;
    font-weight: bold;
}

.note-container{
    width: 300px; 
    padding: 10px;
    font-family: Arial;
    font-weight: bold;
}

#main-container {
    background-color: #eff140; /* Change background color */
    padding: 20px; /* Add padding around the content */
    border: 1px solid #ccc; /* Add a border */
    /*text-align: center;*/ /* Center text content horizontally */
    border-radius: 50px;
}